$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// #options, #signInButton, #signUpButton {
//   vertical-align: sub
// }

span.td {
  border: 1px solid black;
}

span.td, form.tr, div.tr {
  padding: 0.5em;
}

.container {
  display: table;
  width: 100%;
}


.left-side {
  position: absolute;
  left: 0px;
  width: 40%;
}

.right-side {
  position: absolute;
  right: 0px;
  width: 60%;
}

.right-side, .left-side {
  padding: 2%;
}

#message {
  position: fixed
}

span.td {
  outline: 0;
  display: table-cell;
  width: 7%
}

span.td > input {
  background-color:transparent;
  border: 0px solid;
  height:15%;
  width: 95%;
}

span.td > input:focus {
  outline:none;
}

div#table {
  display: table;
  table-layout: fixed;
  font-size: 1.25vw;
  text-align: center
}

form.tr, div.tr {
  display: table-row;
}

div.tr {
  font-weight: bold
}

.navbar-brand {
  font-size: 200%
}
